@import "maps";
@import "extend";
@import "mixin";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
  }

.header {
    padding: 30px;
    display: flex;
    justify-content: left;
    font-size: 23px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
        float: left;

        a {
        display: block;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        color: rgb(17, 14, 10);
        }
        :hover {
            background: rgb(151,120,91);
             background: radial-gradient(circle, rgba(151,120,91,1) 0%, rgba(105,86,69,1) 100%);
        }
    }
    }

    .main {
        div {
            font-size: 20px;
        }
        img {
            width: auto;
            height: 500px;
            display: block;
            margin: auto;
            margin-top: 50px;
            padding: auto;
            p {
            padding: 50px;
            font-size: 1rem;
            }
        }
        input {
            font-size: 20px;
        }
        label {
            font-size: large;
            margin: 15px;
        }
        }
    
    
    .footer {
        height: auto;
        width: 100%;
        bottom: 0;
        padding: 40px;
        font-size: 20px;
        text-align: center;
        position: fixed;
        a {
            text-decoration: none;
            color: rgb(17, 14, 10);
        }
        p {
            text-decoration: none;
            color: black;
            font-size: 25px;
        }
    }
